p {
  font-size: 1.2rem;
}

.giga {
  font-size: 3.8rem;
}

header {
  background-color: #93c6e7;
  padding-bottom: 15px;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 4fr;

  padding-bottom: 20px;
  background-color: #93c6e7;
}

.left {
  width: 340px;
}
.logo {
  display: inline-block;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-left: 15px;
  margin-top: 5px;
}

.menu {
  display: inline-block;
  float: right;
  margin-top: 20px;
  margin-right: 15px;
  color: white;
  font-weight: 700;
}

.menu li {
  display: inline;
  font-size: 1rem;
  margin: 5px;
}

.menu a {
  text-decoration: none;
  color: white;
}

.circle {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px;
}

.circle img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.profession {
  background-color: #aee2ff;
  padding: 20px;
  text-align: center;
}

.he {
  display: block;
  text-align: center;
  font-style: italic;
  color: #fedeff;
}
.codding {
  color: white;
  margin: 10px;
  margin-left: 0;
}

#clock {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 1.9rem;
}

#clock > div {
  padding: 10px;
  padding-left: 0;
  border-radius: 30px;
  display: inline-block;
}

.round {
  padding: 15px;
  border-radius: 50%;
  background-color: #93c6e7;
  display: inline-block;
  color: white;
}

.smalltext {
  padding-top: 5px;
  font-size: 1rem;
  color: white;
}

#clock div > #days,
#days-text {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding: 1px;
  border: none;
}

.motto {
  margin: 20px;
  justify-self: center;
}

.motto h1 {
  font-size: 3rem;
  color: #fedeff;
  padding: 5px;
}

.motto p {
  color: white;
  padding: 5px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.7rem;
}

.about h2,
.projects h2 {
  color: #93c6e7;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

.about li {
  margin: 10px;
  text-align: center;
}

.about li strong {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
}

.skills {
  background-color: #93c6e7;
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.skills h2,
footer h2 {
  color: white;
  font-size: 2rem;
  padding: 10px;
}

.skills li {
  display: inline-block;
  color: #fedeff;
  font-size: 2rem;
  margin: 15px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
  justify-content: space-around;
  grid-gap: 10px;
  margin: 10px 0;
}

.projects-container p {
  margin: 10px 0;
  text-align: center;
}

.projects-container img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  align-self: center;
}

footer {
  background-color: #93c6e7;
  text-align: center;
  padding: 10px;
}

.connect {
  margin: 10px;
  color: white;
}

.connect li {
  display: inline-block;
  font-size: 1rem;
  margin: 3px;
  color: white;
  padding-bottom: 10px;
}

.connect li a {
  color: white;
}

/* colors used:
pink: #FEDEFF;
darker blue: #93C6E7;
lighter blue: #AEE2FF;
light blue: #B9F3FC;

*/
